body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0  auto;
    padding: 20px;
}

h1{
    text-align: center;
    color: #333;

}

label{
    display: block;
    margin: 10px 0 5;
    font-weight: bold;
}
input,textarea,select{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"]{
    background-color:#1B263B;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover{
  background-color: #3A506B;
}

.contenedor{
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #F4F4F9;
    border-radius: 8px;
    box-shadow: 0 0 100px rgba(19, 4, 4, 0.1);
}